aiocontextvars==0.2.2
allure-pytest==2.9.45
allure-python-commons==2.9.45
appdirs==1.4.4
asgiref==3.3.4
attrs==21.4.0
black==19.10b0
blinker==1.4
Brotli==1.0.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
click==7.1.2
contextvars==2.4
cryptography==37.0.4
dataclasses==0.6
DingtalkChatbot==1.5.3
exceptiongroup==1.1.0
execnet==1.9.0
Flask==1.1.4
h11==0.13.0
h2==4.1.0
hpack==4.0.0
httprunner==3.1.6
hyperframe==6.0.1
idna==3.3
immutables==0.17
importlib-metadata==4.8.3
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.5
kaitaistruct==0.9
ldap3==2.8.1
loguru==0.6.0
MarkupSafe==2.0.1
mitmproxy==8.1.0
mitmproxy_wireguard==0.1.20
more-itertools==8.12.0
msgpack==1.0.4
packaging==21.3
parameters==0.2.1
passlib==1.7.4
pathspec==0.9.0
pluggy==0.13.1
protobuf==3.20.3
publicsuffix2==2.20191221
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pydantic==1.8.2
PyMySQL==1.0.2
pyOpenSSL==22.0.0
pyparsing==2.4.7
pyperclip==1.8.2
pytest==7.2.1
pytest-forked==1.4.0
pytest-html==2.1.1
pytest-metadata==1.11.0
pytest-xdist==3.1.0
PyYAML==5.4.1
regex==2022.3.15
requests==2.27.1
requests-toolbelt==0.10.1
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
sentry-sdk==0.14.4
six==1.16.0
sortedcontainers==2.4.0
toml==0.10.2
tomli==1.2.3
tornado==6.1
typed-ast==1.5.2
typing_extensions==4.4.0
urllib3==1.26.9
urwid==2.1.2
wcwidth==0.2.5
Werkzeug==1.0.1
wsproto==1.1.0
zipp==3.6.0
zstandard==0.14.1
